.oh-breadcrumb {
  padding: 8px 15px;
  margin-bottom: 16px;
  background-color: #f1f6f9;
}
.oh-breadcrumb .oh-breadcrumb-item {
  display: inline-block;
}
.oh-breadcrumb .oh-breadcrumb-item.active {
  color: #6f7380;
}
.oh-breadcrumb .oh-breadcrumb-item + .oh-breadcrumb-item::before {
  content: '/';
  padding: 0 8px;
  color: #6f7380;
}
