<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>onehowerUI - Badge</title>
  <link rel="stylesheet" href="../build/css/bundle.css" />
</head>
<body>
  <div class="oh-badge">default</div>
  <div class="oh-badge oh-badge-primary">primary</div>
  <div class="oh-badge oh-badge-secondary">secondary</div>

  <div class="oh-badge oh-badge-secondary">1</div>
  <div class="oh-badge oh-badge-secondary">99</div>
  <div class="oh-badge oh-badge-secondary">9...</div>
</body>
</html>