<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>onehowerUI - Breadcrumb</title>
  <link rel="stylesheet" href="../build/css/bundle.css" />
</head>
<body>
  <nav class="oh-breadcrumb">
    <a href="#" class="oh-breadcrumb-item">Home</a>
  </nav>

  <nav class="oh-breadcrumb">
    <a href="#" class="oh-breadcrumb-item">Home</a>
    <div class="oh-breadcrumb-item active">Skill</div>
  </nav>

  <nav class="oh-breadcrumb">
    <a href="#" class="oh-breadcrumb-item">Home</a>
    <a href="#" class="oh-breadcrumb-item">Skill</a>
    <div class="oh-breadcrumb-item active">About</div>
  </nav>
</body>
</html>