<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>onehowerUI - Button</title>
  <link rel="stylesheet" href="../build/css/bundle.css" />
</head>
<body>
  <button class="oh-btn">Default</button>
  <button class="oh-btn oh-btn-primary">Primary</button>
  <button class="oh-btn oh-btn-secondary">Secondary</button>

  <button class="oh-btn" disabled>Default</button>
  <button class="oh-btn oh-btn-primary" disabled>Primary</button>
  <button class="oh-btn oh-btn-secondary" disabled>Secondary</button>
</body>
</html>